.body-oscar {
    background-image:  url('/images/fondo.png');
    background-repeat:repeat;
    background-attachment:unset;
    background-size:auto;
    background-color: #cccccc;
}

.fondo-oscar {
    background-image: url('/images/fondo.png');
    background-repeat:no-repeat;
    background-attachment:initial;
    background-size: 100% 100%;
    background-color: #cccccc;
}